.pixi
datasets/*
__pycache__
!.gitkeep

cache
data
*.bin
*.csv
*.cbm
*.npy
*.npz
*.pickle
*.pt
*.pth
*.rar
*.tar*
*.tmp
*.zip
events.out.tfevents.*

exp/**/*.*
!exp/**/report.json
!exp/**/*.toml

.DS_Store
.vscode/
local/